body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.logo-name{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #4D5AE5;
    background-color: #ffffff;
    text-transform: uppercase;
}
.logo-surename{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #2E2F42;
    background-color: #ffffff;
    text-transform: uppercase;
}
.navname{
    font-weight: 500;
    font-size: 16px;
    line-height 1.5; 
    color: #2E2F42;
    background-color: #ffffff;
}
.contacts{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    font-style: normal;
}
.main-title{
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    background-color: #2E2F42;
}
.main-button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}
.section-title{
    color: #2E2F42;
    background-color: #E7E9FC
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.second-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
}
.image-section{
    background-color: #F4F4FD;
}
.text{
    color: #434455;
    background-color: inherit;
    font-size: 16px;
    line-height: 1.5;
}
.picture{
    box-shadow: 0px 2px 1px #2E2F42;
}
footer{
    background-color: #2E2F42;
}
footer .text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
}
footer .logo-name{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #4D5AE5;
    background-color: #2E2F42;
    text-transform: uppercase;
}
footer .logo-surename{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #F4F4FD;
    background-color: #2E2F42;
    text-transform: uppercase;
}